@media (max-width:767px) {

    section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

.clearfix {
    .col-s-1 {
        width: 8.33%
    }

    .col-s-2 {
        width: 16.66%
    }

    .col-s-3 {
        width: 25%
    }

    .col-s-4 {
        width: 33.33%
    }

    .col-s-5 {
        width: 41.66%
    }

    .col-s-6 {
        width: 50%
    }

    .col-s-7 {
        width: 58.33%
    }

    .col-s-8 {
        width: 66.66%
    }

    .col-s-9 {
        width: 75%
    }

    .col-s-10 {
        width: 83.33%
    }

    .col-s-11 {
        width: 91.66%
    }

    .col-s-12 {
        width: 100%
    }
}

    .benefits p,
    .header-text p,
    .tablet-picture p {
        font-size: 16px;
        text-align: justify;
        padding-left: 8vw;
        padding-right: 8vw;
    }    

    header{
        nav ul>li {
            float: none;
            display: block;
            background: none;
            width: 100%;
            text-align: center
        }
        nav .logo {
            float: none;
            display: block;
            background: none;
            width: 100%;
            text-align: center;
            max-width: 250px;
            height: auto;
            padding: 10px;
            margin: 0 auto
        }
        nav ul {
            float: none;
            display: block;
            background: none;
            width: 100%;
            text-align: center
        }
        nav ul li a {
            font-size: 30px;
            font-weight: 500;
            padding: 10px 0
        }
    }

    .hero>div {
        float: none;
        display: block;
    }

    .benefits {
        >div {
            width: 100%
        }
        i {
            margin-top: 10px;
            line-height: 120px;
            width: 120px;
            height: 120px;
            vertical-align: middle;
            font-size: 80px;
        }
        h3,
        .header-text h1 {
        color: #313332;
        width: 100%;
        font-size: 20px;
        padding: 0 8vw
    }
}
    .benefits p,
    .header-text p {
        width: 100%;
        padding: 0 8vw;
        color: #aaa;
        text-align: justify;
        word-break: normal;
    }

    .header-text>div {
        width: 100%;
    }

    .header-text h1 {
        margin-top: 20px;
        font-size: 22px;
    }

    .gallery {
        .col {
            display: block;
            line-height: 1;
            .gallery-tile {
                position: relative;
                width: 100%;
                height: 100%;
                display: block;
                margin: 0 auto;
                .layer {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    background: none;
                    i {
                        z-index: 100;
                        padding: 10px;
                        border-radius: 5px;
                        transition: unset;
                    }
                }
            }
        }
    }

    .staff {
        .portrait div.job,
        .portrait:hover div.job {
            background: none;
            cursor: unset;
            transition: unset;
            position: static;
            opacity: 1;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: unset;
        }
    
        .job h4 {
            z-index: 85;
            position: static;
            text-align: center;
            top: 25%;
            left: 25%;
            color: #aaa;
            font-size: 100%;
            margin-bottom: 0;
            margin-top: 10px;
        }
    }

    .tablet-picture {
        > div {
            width: 100%;
            padding: 20px 5px;
        }
        img {
            width: 50vw;
            max-width: 50vw;
            padding: 20px 10px 0 10px;
            margin-bottom: 0;
        }
        h1 {
            padding: 0 8vw;
        }
    }

    .counters {
        width: 100%;
        margin: 0 auto;
        div {
            div {
                padding: 0 4vw
            }
        } 
        h1 {
            margin: 0;
            font-size: 45px;
        }
        h3 {
            font-size: 20px;
        }
    }

    footer {
        word-break: normal;
        padding: 0;
        >div {
            padding: 0 8vw;
        }
        p {
            text-align: justify;
        }
    }
}