* {
  box-sizing: border-box; }

body {
  font-family: 'Raleway', Sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff; }

h1,
h2,
h3 {
  text-transform: uppercase; }

section {
  padding-top: 100px;
  padding-bottom: 100px; }
  section > h1 {
    text-align: center;
    color: #313332;
    font-size: 28px;
    word-wrap: break-word; }
  section > p {
    color: #aaa;
    line-height: 16px;
    font-size: 14px;
    margin-bottom: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    word-wrap: break-word; }

.container {
  margin: 0 auto;
  display: block;
  max-width: 1200px; }

.clearfix::after,
.clearfix::before {
  content: " ";
  display: table;
  clear: both; }

.clearfix .col {
  float: left;
  min-height: 1px; }
.clearfix .col-1 {
  width: 8.33%; }
.clearfix .col-2 {
  width: 16.66%; }
.clearfix .col-3 {
  width: 25%; }
.clearfix .col-4 {
  width: 33.33%; }
.clearfix .col-5 {
  width: 41.66%; }
.clearfix .col-6 {
  width: 50%; }
.clearfix .col-7 {
  width: 58.33%; }
.clearfix .col-8 {
  width: 66.66%; }
.clearfix .col-9 {
  width: 75%; }
.clearfix .col-10 {
  width: 83.33%; }
.clearfix .col-11 {
  width: 91.66%; }
.clearfix .col-12 {
  width: 100%; }

header {
  background-color: #313332; }
  header nav {
    min-height: 50px; }
    header nav img {
      padding: 10px 0; }
    header nav ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      float: right;
      margin-right: 15%; }
      header nav ul li {
        float: left; }
        header nav ul li:hover {
          background-color: #53B863;
          color: #53B863; }
        header nav ul li a {
          display: block;
          font-size: 1em;
          font-weight: 600;
          line-height: 50px;
          padding: 0 12px;
          text-decoration: none;
          color: #fff;
          text-transform: uppercase;
          transition: background-color .3s linear, color .3s linear; }
          header nav ul li a:active {
            color: #53B863; }
    header nav .logo {
      float: left;
      width: 150px;
      margin-left: 10%;
      /* padding-top: 15px; */ }

.hero {
  height: 380px;
  background-image: url(https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg);
  background-position-y: 55%;
  background-repeat: no-repeat;
  background-size: cover; }
  .hero div {
    background-color: #53B86380;
    float: right;
    max-width: 900px;
    padding: 10px 24% 10px 10px;
    position: relative;
    top: 25%;
    bottom: 25%;
    height: 150px; }
    .hero div h1 {
      font-weight: 400;
      color: #fff;
      text-align: left; }

.bold {
  font-weight: 900; }

.benefits {
  min-height: 330px; }
  .benefits > div {
    width: 80%;
    margin: 0 auto; }
  .benefits i {
    display: block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
    color: #fff;
    background-color: #313332;
    border-radius: 10px;
    transition: background-color .3s linear; }
    .benefits i:hover {
      background-color: #53B863;
      cursor: pointer; }
    .benefits i:hover + h3,
    .benefits i h3.blue-benefit {
      color: #53B863;
      cursor: pointer; }
  .benefits h3 {
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 4px;
    font-size: 16px;
    text-align: center;
    padding: 0 15%;
    color: #313332;
    word-wrap: break-word; }
  .benefits p {
    line-height: 15px;
    font-size: 14px;
    margin-top: 0;
    text-align: center;
    padding: 0 15%;
    color: #aaa;
    word-wrap: break-word; }

.header-text {
  background-color: #fff;
  padding-top: 0;
  padding-bottom: 0; }
  .header-text > div {
    width: 50%;
    text-align: center;
    margin: 0 auto; }

.gallery .col {
  display: block;
  line-height: 0; }
  .gallery .col .gallery-tile {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0; }
    .gallery .col .gallery-tile .layer {
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 1;
      width: 100%;
      height: 0;
      position: absolute;
      top: 0;
      left: 0;
      transition: height .3s linear; }
      .gallery .col .gallery-tile .layer i {
        position: absolute;
        background-color: #ccc;
        padding: .5vw;
        border-radius: .2vw;
        border: solid #ccc 0.2vw;
        color: #000;
        top: 40%;
        overflow: hidden;
        transition: z-index .6s linear;
        z-index: -100; }
      .gallery .col .gallery-tile .layer .fa-camera-retro {
        left: 20%; }
      .gallery .col .gallery-tile .layer .fa-search {
        right: 20%; }
    .gallery .col .gallery-tile:hover .layer {
      height: 100%;
      cursor: pointer; }
      .gallery .col .gallery-tile:hover .layer i {
        z-index: 100;
        transition: z-index 0.1s linear; }
.gallery img {
  display: block;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  padding: 0; }

.staff {
  padding-top: 0; }
  .staff > div {
    width: 80%;
    margin: 0 auto;
    text-align: center; }
  .staff h4 {
    color: #53B863; }
  .staff .portrait {
    margin: 0 auto;
    text-align: center;
    position: relative;
    display: inline-block; }
    .staff .portrait img {
      width: 100%;
      max-width: 100%;
      border-radius: 50%; }
    .staff .portrait .job {
      background-color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: opacity 1s linear; }
      .staff .portrait .job h4 {
        z-index: 85;
        position: absolute;
        text-align: center;
        top: 25%;
        left: 25%;
        color: #ccc;
        font-size: 100%; }
    .staff .portrait:hover .job {
      background-color: #aaa;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 1;
      width: 100%;
      height: 98%;
      border-radius: 50%;
      position: absolute;
      top: 49%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer; }

.tablet-picture {
  width: 100%;
  padding: 20px 10px 0 10px;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(#313332, #53B863); }
  .tablet-picture img {
    display: block;
    position: relative;
    padding: 10px 10px 0 10px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: -220px; }
  .tablet-picture h1 {
    padding: 10px; }
  .tablet-picture p {
    padding: 0 10px; }
  .tablet-picture > div {
    width: 70%;
    max-width: 1200px;
    padding: 20px 20px;
    color: #fff;
    margin: 0 auto;
    vertical-align: bottom; }
    .tablet-picture > div > div {
      display: block;
      vertical-align: bottom;
      overflow: visible;
      z-index: 2; }

.counters {
  position: relative;
  background-color: #fff;
  width: 70%;
  margin: 0 auto;
  z-index: 200; }
  .counters h1 {
    display: block;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.2;
    margin: 0 10px;
    color: #313332;
    margin-bottom: 0; }
  .counters h3 {
    display: block;
    padding: 0;
    line-height: 1;
    text-transform: uppercase;
    color: #53B863;
    word-wrap: break-word; }
  .counters div div {
    text-align: center;
    margin: 0 auto;
    padding: 0 10px; }

footer {
  background-color: #313332;
  color: #fff; }
  footer > div:first-child {
    text-align: center;
    padding-bottom: 20px; }
  footer > div:last-child {
    text-align: center;
    color: #ccc;
    background-color: #000;
    min-height: 50px;
    line-height: 50px; }
  footer > div .line2:after {
    content: "";
    display: inline-block;
    width: 8vw;
    height: 6px;
    margin-left: 10px;
    border-top: 1px solid #fff; }
  footer > div .social-icons {
    display: block;
    width: 60%;
    margin: 0 auto;
    text-align: center; }
    footer > div .social-icons .col {
      padding-left: 4px; }
    footer > div .social-icons i {
      font-size: 20px;
      display: inline-block;
      background-color: #53B863;
      padding: 4px;
      margin-left: 8px;
      margin-bottom: 8px; }

@media (max-width: 767px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px; }

  .clearfix .col-s-1 {
    width: 8.33%; }
  .clearfix .col-s-2 {
    width: 16.66%; }
  .clearfix .col-s-3 {
    width: 25%; }
  .clearfix .col-s-4 {
    width: 33.33%; }
  .clearfix .col-s-5 {
    width: 41.66%; }
  .clearfix .col-s-6 {
    width: 50%; }
  .clearfix .col-s-7 {
    width: 58.33%; }
  .clearfix .col-s-8 {
    width: 66.66%; }
  .clearfix .col-s-9 {
    width: 75%; }
  .clearfix .col-s-10 {
    width: 83.33%; }
  .clearfix .col-s-11 {
    width: 91.66%; }
  .clearfix .col-s-12 {
    width: 100%; }

  .benefits p,
  .header-text p,
  .tablet-picture p {
    font-size: 16px;
    text-align: justify;
    padding-left: 8vw;
    padding-right: 8vw; }

  header nav ul > li {
    float: none;
    display: block;
    background: none;
    width: 100%;
    text-align: center; }
  header nav .logo {
    float: none;
    display: block;
    background: none;
    width: 100%;
    text-align: center;
    max-width: 250px;
    height: auto;
    padding: 10px;
    margin: 0 auto; }
  header nav ul {
    float: none;
    display: block;
    background: none;
    width: 100%;
    text-align: center; }
  header nav ul li a {
    font-size: 30px;
    font-weight: 500;
    padding: 10px 0; }

  .hero > div {
    float: none;
    display: block; }

  .benefits > div {
    width: 100%; }
  .benefits i {
    margin-top: 10px;
    line-height: 120px;
    width: 120px;
    height: 120px;
    vertical-align: middle;
    font-size: 80px; }
  .benefits h3,
  .benefits .header-text h1 {
    color: #313332;
    width: 100%;
    font-size: 20px;
    padding: 0 8vw; }

  .benefits p,
  .header-text p {
    width: 100%;
    padding: 0 8vw;
    color: #aaa;
    text-align: justify;
    word-break: normal; }

  .header-text > div {
    width: 100%; }

  .header-text h1 {
    margin-top: 20px;
    font-size: 22px; }

  .gallery .col {
    display: block;
    line-height: 1; }
    .gallery .col .gallery-tile {
      position: relative;
      width: 100%;
      height: 100%;
      display: block;
      margin: 0 auto; }
      .gallery .col .gallery-tile .layer {
        width: 100%;
        height: 100%;
        cursor: pointer;
        background: none; }
        .gallery .col .gallery-tile .layer i {
          z-index: 100;
          padding: 10px;
          border-radius: 5px;
          transition: unset; }

  .staff .portrait div.job,
  .staff .portrait:hover div.job {
    background: none;
    cursor: unset;
    transition: unset;
    position: static;
    opacity: 1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: unset; }
  .staff .job h4 {
    z-index: 85;
    position: static;
    text-align: center;
    top: 25%;
    left: 25%;
    color: #aaa;
    font-size: 100%;
    margin-bottom: 0;
    margin-top: 10px; }

  .tablet-picture > div {
    width: 100%;
    padding: 20px 5px; }
  .tablet-picture img {
    width: 50vw;
    max-width: 50vw;
    padding: 20px 10px 0 10px;
    margin-bottom: 0; }
  .tablet-picture h1 {
    padding: 0 8vw; }

  .counters {
    width: 100%;
    margin: 0 auto; }
    .counters div div {
      padding: 0 4vw; }
    .counters h1 {
      margin: 0;
      font-size: 45px; }
    .counters h3 {
      font-size: 20px; }

  footer {
    word-break: normal;
    padding: 0; }
    footer > div {
      padding: 0 8vw; }
    footer p {
      text-align: justify; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .clearfix .col-m-1 {
    width: 8.33%; }
  .clearfix .col-m-2 {
    width: 16.66%; }
  .clearfix .col-m-3 {
    width: 25%; }
  .clearfix .col-m-4 {
    width: 33.33%; }
  .clearfix .col-m-5 {
    width: 41.66%; }
  .clearfix .col-m-6 {
    width: 50%; }
  .clearfix .col-m-7 {
    width: 58.33%; }
  .clearfix .col-m-8 {
    width: 66.66%; }
  .clearfix .col-m-9 {
    width: 75%; }
  .clearfix .col-m-10 {
    width: 83.33%; }
  .clearfix .col-m-11 {
    width: 91.66%; }
  .clearfix .col-m-12 {
    width: 100%; }

  header nav ul {
    margin-right: 8%; }
    header nav ul li a {
      display: block;
      font-size: .8em;
      font-weight: 600;
      line-height: 50px;
      padding: 0 8px;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      transition: background-color 0.3s linear, color 0.3s linear; }

  .gallery .col .gallery-tile .layer {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: none; }
    .gallery .col .gallery-tile .layer i {
      z-index: 100;
      padding: 10px;
      border-radius: 5px;
      transition: unset; }

  .staff .portrait .job,
  .staff .portrait:hover .job {
    background: none;
    transform: unset;
    cursor: unset;
    transition: unset;
    position: static;
    opacity: 1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 50%;
    left: 50%; }
  .staff .job h4 {
    z-index: 85;
    position: static;
    text-align: center;
    top: 25%;
    left: 25%;
    color: #aaa;
    font-size: 100%;
    margin-bottom: 0;
    margin-top: 10px; }

  .tablet-picture img {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 0; }

  footer > div {
    width: 100%;
    margin: 0;
    padding: 0 8vw; }
    footer > div > .col > p {
      padding: 0 8px; }
  footer .line2:after {
    display: none; }
  footer p {
    text-align: left; }
    footer p:first-of-type {
      text-align: justify; } }
@media (max-width: 349px) {
  *,
  p,
  h1,
  h2,
  h3 {
    word-break: normal; }

  .clearfix .col-xs-1 {
    width: 8.33%; }
  .clearfix .col-xs-2 {
    width: 16.66%; }
  .clearfix .col-xs-3 {
    width: 25%; }
  .clearfix .col-xs-4 {
    width: 33.33%; }
  .clearfix .col-xs-5 {
    width: 41.66%; }
  .clearfix .col-xs-6 {
    width: 50%; }
  .clearfix .col-xs-7 {
    width: 58.33%; }
  .clearfix .col-xs-8 {
    width: 66.66%; }
  .clearfix .col-xs-9 {
    width: 75%; }
  .clearfix .col-xs-10 {
    width: 83.33%; }
  .clearfix .col-xs-11 {
    width: 91.66%; }
  .clearfix .col-xs-12 {
    width: 100%; }

  header nav ul li a {
    font-size: 20px; }

  .hero,
  .hero > div {
    display: block;
    height: unset;
    min-height: 380px;
    position: relative; }

  .benefits i {
    margin-top: 10px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    font-size: 30px; }

  .gallery .gallery-tile .layer {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: none; }
    .gallery .gallery-tile .layer i {
      z-index: 100;
      padding: 10px;
      border-radius: 5px;
      transition: unset;
      z-index: 100; }
    .gallery .gallery-tile .layer .fa-camera-retro {
      left: 15%; }
    .gallery .gallery-tile .layer .fa-search {
      right: 15%; }

  .portrait .job,
  .portrait:hover .job {
    background: none;
    cursor: unset;
    transition: unset;
    position: static;
    opacity: 1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: unset; }
    .portrait .job .job h4,
    .portrait:hover .job .job h4 {
      z-index: 85;
      position: static;
      text-align: center;
      top: 25%;
      left: 25%;
      color: #aaa;
      font-size: 100%;
      margin-bottom: 0;
      margin-top: 10px; }

  .tablet-picture {
    word-break: normal;
    text-align: justify;
    width: 100%;
    margin: 0;
    padding: 0; }
    .tablet-picture h1 {
      margin: 0;
      padding: 0 8vw;
      font-size: 20px;
      text-align: center; }
    .tablet-picture p {
      padding: 0 8vw;
      text-align: justify; }
    .tablet-picture > div {
      padding: 0;
      width: 90%; }
    .tablet-picture img {
      width: 100%;
      max-width: 100%;
      padding: 10px;
      margin-bottom: 0; }

  .counters h1 {
    display: block;
    font-size: 35px; } }

/*# sourceMappingURL=sassed.css.map */
