$color0: #000;
$color1: #fff; // white
$color2: #53B863; // #04c8e9
$color3: #313332; // #313332
$color4: #aaa; // #aaa
$color5: #53B863; // #6b6b6b
$color5-tr: #53B86380; // rgba(107, 107, 107, .5)
$color6-tr: rgba(0, 0, 0, .5); // rgba(0, 0, 0, .5);
$color7: #ccc; // #ccc

* {
    box-sizing: border-box
}

body {
    font-family: 'Raleway', Sans-serif;
    margin: 0;
    padding: 0;
    background-color: $color1;
}

h1,
h2,
h3 {
    text-transform: uppercase
}
section {
    padding-top: 100px;
    padding-bottom: 100px;
    >h1 {
        text-align: center;
        color: $color3;
        font-size: 28px;
        word-wrap: break-word;
    }
    >p {
        color: $color4;
        line-height: 16px;
        font-size: 14px;
        margin-bottom: 50px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center; 
        word-wrap: break-word;
    }
}

.container {
    margin: 0 auto;
    display: block;
    max-width: 1200px
}

.clearfix::after,
.clearfix::before {
    content: " ";
    display: table;
    clear: both
}

.clearfix {
    .col {
        float: left;
        min-height: 1px
    }
    
    .col-1 {
        width: 8.33%
    }
    
    .col-2 {
        width: 16.66%
    }
    
    .col-3 {
        width: 25%
    }
    
    .col-4 {
        width: 33.33%
    }
    
    .col-5 {
        width: 41.66%
    }
    
    .col-6 {
        width: 50%
    }
    
    .col-7 {
        width: 58.33%
    }
    
    .col-8 {
        width: 66.66%
    }
    
    .col-9 {
        width: 75%
    }
    
    .col-10 {
        width: 83.33%
    }
    
    .col-11 {
        width: 91.66%
    }
    
    .col-12 {
        width: 100%
    }
}

header {
    background-color: $color3;
    nav {
        min-height: 50px;
        img {
            padding: 10px 0
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            float: right;
            margin-right: 15%;

            li {
                float: left;
                &:hover {
                    background-color: $color5;
                    color: $color2;
                }
                a {
                    display: block;
                    font-size: 1em;
                    font-weight: 600;
                    line-height: 50px;
                    padding: 0 12px;
                    text-decoration: none;
                    color: $color1;
                    text-transform: uppercase;
                    transition: background-color .3s linear, color .3s linear;
                    &:active {
                        color: $color2;
                    }
                }
            }
        }
        .logo {
            float: left;
            width: 150px;
            margin-left: 10%;
            padding-top: 15px
        }
    }
}

.hero {
    height: 380px;
    background-image: url(https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg);
    background-position-y: 55%;
    background-repeat: no-repeat;
    background-size: cover;
    div {
        background-color: $color5-tr;
        float: right;
        max-width: 900px;
        padding: 10px 24% 10px 10px;
        position: relative;
        top: 25%;
        bottom: 25%;
        height: 150px;
        h1 {
            font-weight: 400;
            color: $color1;
            text-align: left;
        }
    }
}

.bold {
    font-weight: 900
}

.benefits {
    min-height: 330px;
    >div {
        width: 80%;
        margin: 0 auto
    }
    i {
        display: block;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        margin: 0 auto;
        font-size: 50px;
        color: $color1;
        background-color: $color3;
        border-radius: 10px;
        transition: background-color .3s linear;
        &:hover {
            background-color: $color2;
            cursor: pointer
        }
        &:hover+h3,
        h3.blue-benefit {
            color: $color2;
            cursor: pointer
        }
    }
    h3 {
        font-weight: 700;
        margin-top: 25px;
        margin-bottom: 4px;
        font-size: 16px;
        text-align: center;
        padding: 0 15%;
        color: $color3;
        word-wrap: break-word
    }
    p {
        line-height: 15px;
        font-size: 14px;
        margin-top: 0;
        text-align: center;
        padding: 0 15%;
        color: $color4;
        word-wrap: break-word
    }
}

.header-text {
    background-color: $color1;
    padding-top: 0;
    padding-bottom: 0;
    >div {
        width: 50%;
        text-align: center;
        margin: 0 auto
    }
}

.gallery {
    .col {
        display: block;
        line-height: 0;
        .gallery-tile {
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
            text-align: center;
            margin: 0 auto;
            padding-bottom: 0;
            .layer {
                background-color: $color6-tr;
                opacity: 1;
                width: 100%;
                height: 0;
                position: absolute;
                top: 0;
                left: 0;
                transition: height .3s linear;

                i {
                    position: absolute;
                    background-color: $color7;
                    padding: .5vw;
                    border-radius: .2vw;
                    border: solid $color7 .2vw;
                    color: $color0;
                    top: 40%;
                    overflow: hidden;
                    transition: z-index .6s linear;
                    z-index: -100
                }
                .fa-camera-retro {
                    left: 20%
                }
                
                .fa-search {
                    right: 20%
                }
            }

            &:hover .layer {
                height: 100%;
                cursor: pointer;

                i {
                    z-index: 100;
                    transition: z-index .1s linear
                }
            }
        }
    }

    img {
        display: block;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        padding: 0
    }
}

.staff{
    padding-top: 0;

    >div {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    h4 {
        color: $color5;
    }

    .portrait {
        margin: 0 auto;
        text-align: center;
        position: relative;
        display: inline-block;

        img {
            width: 100%;
            max-width: 100%;
            border-radius: 50%
        }

        .job {
            background-color: $color1;
            background-color: $color6-tr;
            opacity: 0;
            transition: opacity 1s linear;
            h4 {
                z-index: 85;
                position: absolute;
                text-align: center;
                top: 25%;
                left: 25%;
                color: $color7;
                font-size: 100%
            }
        }
        &:hover {
            .job {
                background-color: $color4;
                background-color: $color6-tr;
                opacity: 1;
                width: 100%;
                height: 98%;
                border-radius: 50%;
                position: absolute;
                top: 49%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer
            }
        } 
    }
}

.tablet-picture {
    width: 100%;
    padding: 20px 10px 0 10px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient($color3, $color2);
    img {
        display: block;
        position: relative;
        padding: 10px 10px 0 10px;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: -220px;
    }
    h1 {
        padding: 10px;
    }
    p {
        padding: 0 10px
    }
    
    >div {
        width: 70%;
        max-width: 1200px;
        padding: 20px 20px;
        color: $color1;
        margin: 0 auto;
        vertical-align: bottom;
        >div {
            display: block;
            overflow: visible;
            z-index: 2
        }
    }
}

.counters {
    position: relative;
    background-color: $color1;
    width: 70%;
    margin: 0 auto;
    z-index: 200;
    h1 {
        display: block;
        font-size: 50px;
        font-weight: 900;
        line-height: 1.2;
        margin: 0 10px;
        color: $color3;
        margin-bottom: 0;
    }
    h3 {
        display: block;
        padding: 0;
        line-height: 1;
        text-transform: uppercase;
        color: $color2;
        word-wrap: break-word;
    }
    div {
        div {

            text-align: center;
            margin: 0 auto;
            padding: 0 10px;
        }
    }
}

footer {
    background-color: $color3;
    color: $color1;
    >div{
        &:first-child {
            text-align: center;
            padding-bottom: 20px
        }
        &:last-child {
            text-align: center;
            color: $color7;
            background-color: $color0;
            min-height: 50px;
            line-height: 50px
        }
        .line2:after {
            content: "";
            display: inline-block;
            width: 8vw;
            height: 6px;
            margin-left: 10px;
            border-top: 1px solid $color1;
        }
        .social-icons {
            display: block;
            width: 60%;
            margin: 0 auto;
            text-align: center;
            .col {
                padding-left: 4px;
            }
            i {
                font-size: 20px;
                display: inline-block;
                background-color: $color2;
                padding: 4px;
                margin-left: 8px;
                margin-bottom: 8px
            }
        }
    }   
}

// Medie queries
@import 'media-s';
@import 'media-m';
@import 'media-xs';